/23-9.html
/23-9.js
/7-10.js
/adidas.jpg
/assignment.html
/avatar.jpg
/code.jquery.com_jquery-3.7.1.min.js
/ex.css
/ex.html
/ex2.css
/ex2.html
/hajar.html
/hello.html
/java.html
/java.js
/java2.html
/java2.js
/new.html
/node_modules
/package-lock.json
/package.json
/Remove background project.png
/shahouda.html
/ss.html
/test.html
/test1.html